.Content{
    height: 82vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Header{
}

.Footer{
    
}

.Content, .Header, .Footer{
    width: 100vw; 
    
}

.Group{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    

}

.Panel{
    display: flex;
    align-items: center;
    justify-content: center;

}