.Content{
    
}

.Header{
}

.Footer{
    
}

.sizer{
    width: 100vw; 
    
}

.Group{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    

}

.Panel{
    display: flex;
    align-items: center;
    justify-content: center;

}