.navbar{
    background-color: #8BC0CF;
    
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;

    padding: 0;
}

.button{
    background-color: #8BC0CF;
    border: none;
    height: 68px;
    width: 100%;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}


.button:active,
.button:hover{
    background-color: #4B8597;
}